In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.2.4'

In [15]:
nsmc_train_df = pd.read_csv("C:/Programmierung/workspace/Python_2021/examples/Ch.13 Review_Raw_data/ratings_train.txt", encoding='utf-8', sep='\t')

In [16]:
nsmc_train_df[:3]

         id                           document  label
0   9976970                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                  너무재밓었다그래서보는것을추천한다      0

In [17]:
nsmc_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

info로 확인하니 결측치가 존재
data1 5개 부족

In [18]:
nsmc_train_df = nsmc_train_df[namc_train_df['document'].notnull()]

5개를 제외한 애를 꺼내서 다시 저장하라

In [19]:
nsmc_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149995 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        149995 non-null  int64
 1   document  149995 non-null  object
 2   label     149995 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

결측지 정리

In [20]:
nsmc_train_df['label'].value_counts()

0    75170
1    74825
Name: label, dtype: int64