In [56]:
for i in range(1, 11):     # 행을 1부터 10까지 
    for k in range(i):     # i 까지
        print(" ", end="") # i 칸에 i 칸씩 넣는다
    for j in range(1, 11): # 각 행 마다
        print("*", end="") # 별을 10개씩 찍는다
    print('')              # 프린트

 **********
  **********
   **********
    **********
     **********
      **********
       **********
        **********
         **********
          **********

In [63]:
for hang in range(10):
    #빈 칸 출력
    for space in range(hang):
        print(" ", end="")
    #별 출력
    for yol in range(hang):
        print("*", end="")
    print('')

 *
  **
   ***
    ****
     *****
      ******
       *******
        ********
         *********

In [64]:
# 답안
for hang in range(10):
    #빈 칸 출력
    for space in range(hang):
        print(" ", end="")
    #별 출력
    for yol in range(10):
        print("*", end="")
    print('')

**********
 **********
  **********
   **********
    **********
     **********
      **********
       **********
        **********
         **********

In [65]:
1부터 123까지의 자연수 중에서 각 자리에 있는 숫자가 서로 다른 자연수는 모두 몇 개인가?

1 2 3

In [67]:
num = 123         
d100 = num//100     # 100자리 검출
d10 = (num%100)//10 # 10자리 검출 23/10==>2.3 23//10==>2
d1 = num%10         # 1자리 검출
print(d100, d10, d1)

9 9 9

In [93]:
# 1부터 999까지의 자연수 중에서 각 자리에 있는 숫자가 
#서로 다른 자연수는 모두 몇 개인가?

count_up = 0
for num in range(1000):
    d100 = num//100
    d10 = (num%100)//10
    d1 = num%10
    
    if d100 != d10 and d10 != d1 and d100 != d1:
        count_up += 1
        # print(d100*100+d10*10+d1)

print(count_up, "개")

720 개

In [98]:
count_up = 0
for d100 in range(10):
    for d10 in range(10):
        for d1 in range(10):
            # if d100 != d10 !=d d1 : 이건 오동작
            if d100 != d10 and d10 != d1 and d100 != d1:
                count_up += 1
print(count_up)

720

In [101]:
(3**2016) % 2

1

In [108]:
a = int(input("수"))
b = int(input("지수"))
ModulNum = a**b % 10
print(ModulNum)

수3
지수2016
1

In [116]:
num = 1
for i in range(2016):
    num *= 3
    if i == 2015:
        d1_of_num = num%10
print(d1_of_num)

1

In [143]:
count = 0
a = int(input("수"))
while a != 1:
    if a % 2 == 0:
        a = a/2
    else:
        a = ((a*3)+1)/2
    count = count + 1
print(count)

수682
11

In [138]:
num = int(input("수"))
proc_count = 0
while True:
    if num %2 == 0:
        num /= 2
    else:
        num = (3* num +1)/2
    proc_count+=1
    if num == 1: breank
        
print(proc_count)

수6

NameError: name 'breank' is not defined

In [145]:
def hello_5():
    print("Hallo_1")
    print("Hallo_2")
    print("Hallo_3")
    print("Hallo_4")
    print("Hallo_5")

hello_5()

Hallo
Hallo
Hallo
Hallo
Hallo